<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student feedback System | Faculty Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="auth-body">
    <div class="auth-container">
        <div class="auth-left faculty-gradient">
            <div class="auth-overlay">
                <i class="fa-solid fa-chalkboard-user auth-big-icon"></i>
                <h1>Faculty Login</h1>
                <p>Review student feedback, send responses, and improve communication professionally.</p>
            </div>
        </div>

        <div class="auth-right">
            <div class="auth-form-box">
                <h2>Faculty Sign In</h2>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <form method="POST">
                    <div class="input-group">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Enter faculty email" required>
                    </div>

                   <div class="password-box">
                       <input type="password" id="password" name="password" placeholder="Enter password" required>
                         
                          </div>
                          <br>

                    <button type="submit" class="btn full-btn">Login</button>
                </form>

                <p class="switch-link">New faculty? <a href="{{ url_for('faculty_register') }}">Register here</a></p>
                <p class="switch-link"><a href="{{ url_for('home') }}">Back to Home</a></p>
            </div>
        </div>
    </div>
</body>
</html>
