<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student feedback System | Student Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body class="auth-body">
    <div class="auth-container">
        <div class="auth-left student-gradient">
            <div class="auth-overlay">
                <i class="fa-solid fa-book-open-reader auth-big-icon"></i>
                <h1>Student Login</h1>
                <p>Access your dashboard, submit feedback, and track faculty replies.</p>
            </div>
        </div>

        <div class="auth-right">
            <div class="auth-form-box">
                <h2>Welcome Back</h2>

                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}

                <form method="POST">
                    <div class="input-group">
                        <label>Roll Number</label>
                        <input type="text" name="roll_no" placeholder="Enter roll number" required>
                    </div>

                 <div class="password-box">
                   <input type="password" id="password" name="password" placeholder="Enter password" required>
                    
                    </div>
                      <br>
                    <button type="submit" class="btn full-btn">Login</button>
                </form>

                <p class="switch-link">New student? <a href="{{ url_for('student_register') }}">Register here</a></p>
                <p class="switch-link"><a href="{{ url_for('home') }}">Back to Home</a></p>
            </div>
        </div>
    </div>
</body>
</html>
